body {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0079BF;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
}

/* Header Begin */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0067A3;
  padding: 5px 15px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.3em;
}

/* User Begin */
.user {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.user-image {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #fff;
  border: 1px solid #777;
  margin-right: 15px;
}

.user-image::after {
  content: '';
  width: 12px;
  height: 8px;
  background-image: url(./assets/img/arrow-user.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 16px;
  right: -20px;
  transition: transform 0.25s;
}

.user.active .user-image::after {
  transform: rotate(180deg);
}

.user-datails {
  color: #000;
  position: absolute;
  bottom: -80px;
  right: 10px;
  background-color: #fff;
  width: 134px;
  white-space: nowrap;
  padding: 8px 0;
  border-radius: 5px;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.user.active .user-datails {
  display: block;
}

.user-datails>div {
  padding: 2px 8px 3px;
  cursor: pointer;
}

.user-datails>div:hover {
  background-color: #DEDEDE;
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 2px;
}

.user-datails::after {
  content: '';
  width: 11px;
  height: 11px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  right: 20px;
}

/* User End */

/* Header End */

/* Main Content Begin */
main.main-wrapper {
  padding: 30px;
}

.board-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.board-block {
  width: 23%;
  background-color: #EBECF0;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 12px;
  height: fit-content;
}

.block-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.task {
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.custom-select-container {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.select-options {
  position: absolute;
  background: #fff;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
}

.detail-wrapper {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 80vh;
  background: #fff;
  border-radius: 5px;
}

.detail-wrapper h1 {
  font-size: 24px;
  font-weight: 400;
}

.details-textarea {
  display: block;
  width: 100%;
}

.add-button {
  border: 0;
  color: #5E6C84;

}

.add-button:hover:enabled {
  background-color: #fff;
}

.add-button:disabled,
.add-button[disabled] {
  cursor: default;
  opacity: 0.3;
}

.submit-button {
  background-color: #0079BF;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.input-add-card {
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  border: 0;
  outline: 0;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Main Content End */

/* DropDown Begin */
.dropdown-header {
  width: auto;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.dropdown-header::after {
  content: '';
  width: 18px;
  height: 13px;
  background-image: url(./assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 12px;
  right: 11px;
}

.dropdown-outer-wrapper {
  position: relative;
}

.dropdown-wrapper {
  margin-top: 5px;
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-wrapper>div {
  background-color: #fff;
  padding: 7px;


  cursor: pointer;
}

.dropdown-wrapper>div:hover {
  background-color: #DEDEDE;
}

/* DropDown End */

/* Footer Begin */
.footer {
  display: flex;
  align-items: center;
  background: #0067A3;
  color: #fff;
  padding: 10px 15px;
  margin-top: auto;
}

.footer .block {
  margin-right: 15px;
}

/* Footer End */

/* Media Queries */

@media (max-width: 992px) {
  .board-wrapper {
    flex-wrap: wrap;
  }

  .board-block {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .board-block {
    width: 100%;
  }
}